* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 1rem;
  padding: 1rem;
  background-color: #cde3dc;
  width: 86rem;
  align-content: center; }

h1 {
  text-align: center;
  width: 86rem;
  font-family: 'Teko', sans-serif;
  letter-spacing: 1.5rem;
  word-spacing: 2rem;
  font-size: 6rem;
  background-image: url(https://images.pexels.com/photos/5370024/pexels-photo-5370024.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-position: center;
  background-repeat: repeat;
  color: white; }

h2 {
  text-align: center;
  font-family: 'Teko', sans-serif;
  letter-spacing: 1rem;
  word-spacing: 2rem;
  font-size: 4.5rem;
  color: #b95a5a; }

h3 {
  text-align: center;
  font-family: 'Teko', sans-serif;
  letter-spacing: 1rem;
  word-spacing: 1.5rem;
  color: #b95a5a; }

a {
  font-family: 'Spectral', serif;
  text-decoration: none;
  text-decoration-color: none;
  text-decoration: none;
  color: #e2c103; }
  a:hover {
    font-weight: bold; }

.menu {
  background-color: #e2c103;
  list-style-type: none;
  font-family: 'Teko', sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  word-spacing: 3rem;
  text-transform: uppercase;
  display: flex;
  justify-content: space-evenly;
  width: 86rem;
  height: 4rem; }
  .menu li {
    display: inline-block;
    text-align: center; }
    .menu li a {
      font-family: 'Teko', sans-serif;
      text-decoration: none;
      display: inline-block;
      color: white; }
      .menu li a:hover {
        color: #b95a5a; }

a:hover {
  transform: scale(1.2, 1.2);
  text-decoration: none;
  color: black; }

p {
  font-family: 'Spectral', serif;
  font-size: 1rem;
  line-height: 1.5;
  overflow: auto;
  padding: 1rem;
  margin: 1rem;
  border: 3px;
  letter-spacing: 0.2rem; }

footer {
  background-color: #e2c103;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 86rem; }
  footer .logoParaFooter {
    width: 2.5rem;
    height: 2.5rem; }
    footer .logoParaFooter:hover {
      transform: scale(1.2, 1.2); }

.contenedorHome {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat auto, 7;
  grid-template-areas: "h1" "menu" "carouselExampleControls" "tiraHome1" "tiraHome2" "tiraHome3" "footer"; }
  .contenedorHome h1 {
    grid-area: h1; }
  .contenedorHome .menu {
    grid-area: menu; }
  .contenedorHome #carouselExampleControls {
    grid-area: carouselExampleControls;
    width: 86rem; }
  .contenedorHome .tiraHome1 {
    grid-area: tiraHome1;
    width: 86rem;
    height: 30rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: row; }
    .contenedorHome .tiraHome1 img {
      width: 28.66667rem;
      height: 25rem; }
    .contenedorHome .tiraHome1 p {
      width: 43rem;
      font-size: 2.2rem;
      text-align: center; }
  .contenedorHome .tiraHome2 {
    grid-area: tiraHome2;
    width: 86rem;
    height: 30rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    background-color: #b95a5a;
    border-radius: 5%; }
    .contenedorHome .tiraHome2 img {
      width: 28.66667rem;
      height: 25rem; }
    .contenedorHome .tiraHome2 p {
      width: 43rem;
      font-size: 2.2rem;
      text-align: center; }
  .contenedorHome .tiraHome3 {
    grid-area: tiraHome3;
    width: 86rem;
    height: 30rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: row; }
    .contenedorHome .tiraHome3 img {
      width: 28.66667rem;
      height: 25rem; }
    .contenedorHome .tiraHome3 p {
      width: 43rem;
      font-size: 2.2rem;
      text-align: center; }
  .contenedorHome footer {
    grid-area: footer; }
  .contenedorHome .carousel-item {
    width: 86rem;
    height: 50 rem; }

@media screen and (max-width: 500px) {
  .contenedorHome {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat auto, 7;
    grid-template-areas: "h1" "menu" "carouselExampleControls" "tiraHome1" "tiraHome2" "tiraHome3" "footer"; }
    .contenedorHome h1 {
      grid-area: h1; }
    .contenedorHome .menu {
      grid-area: menu; }
    .contenedorHome #carouselExampleControls {
      grid-area: carouselExampleControls; }
    .contenedorHome .tiraHome1 {
      grid-area: tiraHome1;
      width: 86rem;
      height: 50rem;
      padding: 1rem;
      margin: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .contenedorHome .tiraHome1 p {
        font-size: 3rem;
        overflow: auto;
        width: 86rem;
        height: 20rem; }
      .contenedorHome .tiraHome1 img {
        width: 35rem;
        height: 30rem; }
    .contenedorHome .tiraHome2 {
      grid-area: tiraHome2;
      width: 86rem;
      height: 50rem;
      padding: 1rem;
      margin: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #b95a5a;
      border-radius: 5%; }
      .contenedorHome .tiraHome2 p {
        font-size: 3rem;
        overflow: auto;
        width: 86rem;
        height: 20rem; }
      .contenedorHome .tiraHome2 img {
        width: 35rem;
        height: 30rem; }
    .contenedorHome .tiraHome3 {
      grid-area: tiraHome3;
      width: 86rem;
      height: 50rem;
      padding: 1rem;
      margin: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .contenedorHome .tiraHome3 p {
        font-size: 3rem;
        overflow: auto;
        width: 86rem;
        height: 20rem; }
      .contenedorHome .tiraHome3 img {
        width: 35rem;
        height: 30rem; }
    .contenedorHome footer {
      grid-area: footer; } }

.contenedorNosotros {
  border: 3px;
  margin: 1rem;
  width: 86rem;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-family: 'Spectral', serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat auto, 6;
  grid-template-areas: "h1" "menu" "cuadradoNosotros1" "fotoDelMedioNosotros" "cuadradoNosotros2" "footer"; }
  .contenedorNosotros .cuadradoNosotros1 {
    width: 86rem;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .contenedorNosotros .cuadradoNosotros1 img {
      width: 21.5rem; }
    .contenedorNosotros .cuadradoNosotros1 p {
      overflow: auto;
      width: 21.5rem;
      justify-items: center; }
  .contenedorNosotros .cuadradoNosotros2 {
    width: 86rem;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .contenedorNosotros .cuadradoNosotros2 img {
      width: 21.5rem; }
    .contenedorNosotros .cuadradoNosotros2 p {
      overflow: auto;
      width: 21.5rem;
      justify-items: center; }
  .contenedorNosotros .fotoDelMedioNosotros img {
    width: 86rem;
    height: 25rem; }
  .contenedorNosotros h1 {
    grid-area: h1; }
  .contenedorNosotros .menu {
    grid-area: menu; }
  .contenedorNosotros .cuadradoNosotros1 {
    grid-area: cuadradoNosotros1; }
  .contenedorNosotros .fotoDelMedioNosotros {
    grid-area: fotoDelMedioNosotros; }
  .contenedorNosotros .cuadradoNosotros2 {
    grid-area: cuadradoNosotros2; }
  .contenedorNosotros footer {
    grid-area: footer; }

@media only screen and (max-width: 500px) {
  .contenedorNosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat auto, 6;
    grid-template-areas: "h1" "menu" "cuadradoNosotros1" "fotoDelMedioNosotros" "cuadradoNosotros2" "footer"; }
    .contenedorNosotros h1 {
      grid-area: h1; }
    .contenedorNosotros menu {
      grid-area: menu; }
    .contenedorNosotros .cuadradoNosotros1 {
      grid-area: cuadradoNosotros1;
      width: 86rem;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .contenedorNosotros .cuadradoNosotros1 img {
        width: 35rem;
        height: 30rem; }
      .contenedorNosotros .cuadradoNosotros1 p {
        overflow: auto;
        width: 86rem;
        font-size: 2rem; }
    .contenedorNosotros .fotoDelMedioNosotros {
      grid-area: fotoDelMedioNosotros;
      width: 86rem; }
      .contenedorNosotros .fotoDelMedioNosotros img {
        width: 76rem; }
    .contenedorNosotros .cuadradoNosotros2 {
      grid-area: cuadradoNosotros2;
      width: 86rem;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .contenedorNosotros .cuadradoNosotros2 img {
        width: 35rem;
        height: 30rem; }
      .contenedorNosotros .cuadradoNosotros2 p {
        overflow: auto;
        width: 86rem;
        font-size: 2rem; }
    .contenedorNosotros footer {
      grid-area: footer; } }

.contenedorGaleria {
  margin: 1rem;
  width: 86rem;
  text-align: center;
  font-family: 'Spectral', serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat auto, 10;
  grid-template-areas: "h1" "menu" "tituloElLugar" "tiraFotosLugar1" "tiraFotosLugar2" "tituloEventos" "tiraFotosEventos" "tituloElProceso" "tiraFotosProceso" "footer"; }
  .contenedorGaleria .tiraFotosLugar1 {
    width: 86rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around; }
    .contenedorGaleria .tiraFotosLugar1 .fotoRectangular {
      width: 40rem;
      height: 25rem; }
    .contenedorGaleria .tiraFotosLugar1 img {
      margin: 1rem;
      width: 20rem;
      height: 25rem;
      opacity: 0.7;
      border: black; }
      .contenedorGaleria .tiraFotosLugar1 img:hover {
        opacity: 1;
        border: white; }
  .contenedorGaleria .tiraFotosLugar2 {
    width: 86rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around; }
    .contenedorGaleria .tiraFotosLugar2 .fotoRectangular {
      width: 40rem;
      height: 25rem; }
    .contenedorGaleria .tiraFotosLugar2 img {
      margin: 1rem;
      width: 20rem;
      height: 25rem;
      opacity: 0.7;
      border: black; }
      .contenedorGaleria .tiraFotosLugar2 img:hover {
        opacity: 1;
        border: white; }
  .contenedorGaleria .tiraFotosEventos {
    width: 86rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around; }
    .contenedorGaleria .tiraFotosEventos .fotoRectangular {
      width: 40rem;
      height: 25rem; }
    .contenedorGaleria .tiraFotosEventos img {
      margin: 1rem;
      width: 20rem;
      height: 25rem;
      opacity: 0.7;
      border: black; }
      .contenedorGaleria .tiraFotosEventos img:hover {
        opacity: 1;
        border: white; }
  .contenedorGaleria .tiraFotosProceso {
    width: 86rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around; }
    .contenedorGaleria .tiraFotosProceso .fotoRectangular {
      width: 40rem;
      height: 25rem; }
    .contenedorGaleria .tiraFotosProceso img {
      margin: 1rem;
      width: 20rem;
      height: 25rem;
      opacity: 0.7;
      border: black; }
      .contenedorGaleria .tiraFotosProceso img:hover {
        opacity: 1;
        border: white; }
  .contenedorGaleria h1 {
    grid-area: h1; }
  .contenedorGaleria .menu {
    grid-area: menu; }
  .contenedorGaleria .tituloElLugar {
    grid-area: tituloElLugar; }
  .contenedorGaleria .tiraFotosLugar1 {
    grid-area: tiraFotosLugar1; }
  .contenedorGaleria .tiraFotosLugar2 {
    grid-area: tiraFotosLugar1; }
  .contenedorGaleria .tituloEventos {
    grid-area: tituloEventos; }
  .contenedorGaleria .tiraFotosEventos {
    grid-area: tiraFotosEventos; }
  .contenedorGaleria .tituloElProceso {
    grid-area: tituloElProceso; }
  .contenedorGaleria .tiraFotosProceso {
    grid-area: tiraFotosEventos; }
  .contenedorGaleria footer {
    grid-area: footer; }

@media only screen and (max-width: 500px) {
  .contenedorGaleria {
    display: grid;
    gap: 1 rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat auto, 10;
    grid-template-areas: "h1" "menu" "tituloElLugar" "tiraFotosLugar1" "tiraFotosLugar2" "tituloEventos" "tiraFotosEventos" "tituloElProceso" "tiraFotosProceso" "footer"; }
    .contenedorGaleria h1 {
      grid-area: h1; }
    .contenedorGaleria .menu {
      grid-area: menu; }
    .contenedorGaleria .tituloElLugar {
      grid-area: tituloElLugar; }
    .contenedorGaleria .tiraFotosLugar1 {
      grid-area: tiraFotosLugar1;
      width: 86rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center; }
      .contenedorGaleria .tiraFotosLugar1 .fotoRectangular {
        width: 81rem;
        height: 25rem; }
      .contenedorGaleria .tiraFotosLugar1 img {
        margin: 1rem;
        width: 40rem;
        height: 50rem;
        opacity: 0.7;
        border: black; }
        .contenedorGaleria .tiraFotosLugar1 img:hover {
          opacity: 1;
          border: white; }
    .contenedorGaleria .tiraFotosLugar2 {
      grid-area: tiraFotosLugar1;
      width: 86rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center; }
      .contenedorGaleria .tiraFotosLugar2 .fotoRectangular {
        width: 81rem;
        height: 25rem; }
      .contenedorGaleria .tiraFotosLugar2 img {
        margin: 1rem;
        width: 40rem;
        height: 50rem;
        opacity: 0.7;
        border: black; }
        .contenedorGaleria .tiraFotosLugar2 img:hover {
          opacity: 1;
          border: white; }
    .contenedorGaleria .tituloEventos {
      grid-area: tituloEventos; }
    .contenedorGaleria .tiraFotosEventos {
      grid-area: tiraFotosEventos;
      width: 86rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center; }
      .contenedorGaleria .tiraFotosEventos .fotoRectangular {
        width: 81rem;
        height: 25rem; }
      .contenedorGaleria .tiraFotosEventos img {
        margin: 1rem;
        width: 40rem;
        height: 50rem;
        opacity: 0.7;
        border: black; }
        .contenedorGaleria .tiraFotosEventos img:hover {
          opacity: 1;
          border: white; }
    .contenedorGaleria .tituloElProceso {
      grid-area: tituloElProceso; }
    .contenedorGaleria .tiraFotosProceso {
      grid-area: tiraFotosEventos;
      width: 86rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center; }
      .contenedorGaleria .tiraFotosProceso .fotoRectangular {
        width: 81rem;
        height: 25rem; }
      .contenedorGaleria .tiraFotosProceso img {
        margin: 1rem;
        width: 40rem;
        height: 50rem;
        opacity: 0.7;
        border: black; }
        .contenedorGaleria .tiraFotosProceso img:hover {
          opacity: 1;
          border: white; }
    .contenedorGaleria footer {
      grid-area: footer; } }

.contenedorAgenda {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat auto, 8;
  grid-template-areas: "h1" "menu" "tituloAgenda" "primerAcordion" "tituloAgenda2" "segundoAcordion" "h3" "footer"; }
  .contenedorAgenda h1 {
    grid-area: h1; }
  .contenedorAgenda .menu {
    grid-area: menu; }
  .contenedorAgenda .tituloAgenda {
    grid-area: tituloAgenda; }
  .contenedorAgenda .primerAcordion {
    grid-area: primerAcordion; }
  .contenedorAgenda .tituloAgenda2 {
    grid-area: tituloAgenda2; }
  .contenedorAgenda .segundoAcordion {
    grid-area: segundoAcordion; }
  .contenedorAgenda h3 {
    grid-area: h3; }
  .contenedorAgenda footer {
    grid-area: footer; }
  .contenedorAgenda .accordion {
    width: 86rem;
    font-family: 'Spectral', serif;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.2rem; }
    .contenedorAgenda .accordion .colorTipoCabezal {
      background-color: #b95a5a;
      opacity: 0.8;
      color: black; }
      .contenedorAgenda .accordion .colorTipoCabezal:hover {
        opacity: 1; }
    .contenedorAgenda .accordion .cuerpoAgenda {
      background-color: #cde3dc; }

@media screen and (max-width: 500px) {
  .contenedorAgenda {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat auto, 8;
    grid-template-areas: "h1" "menu" "tituloAgenda" "primerAcordion" "tituloAgenda2" "segundoAcordion" "h3" "footer"; }
    .contenedorAgenda h1 {
      grid-area: h1; }
    .contenedorAgenda .menu {
      grid-area: menu; }
    .contenedorAgenda .tituloAgenda {
      grid-area: tituloAgenda; }
    .contenedorAgenda .primerAcordion {
      grid-area: primerAcordion; }
      .contenedorAgenda .primerAcordion p {
        font-size: 2rem; }
    .contenedorAgenda .tituloAgenda2 {
      grid-area: tituloAgenda2; }
    .contenedorAgenda .segundoAcordion {
      grid-area: segundoAcordion; }
      .contenedorAgenda .segundoAcordion p {
        font-size: 2rem; }
      .contenedorAgenda .segundoAcordion li {
        font-size: 2rem; }
    .contenedorAgenda h3 {
      grid-area: h3;
      font-size: 3rem; }
    .contenedorAgenda footer {
      grid-area: footer; } }

.contenedorContacto {
  width: 86rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto, 5);
  grid-template-areas: "h1" "menu" "h2" "formularioContacto" "footer"; }
  .contenedorContacto .formularioContacto {
    width: 86rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    font-family: 'Spectral', serif;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.2rem; }
    .contenedorContacto .formularioContacto fieldset {
      padding: 1rem;
      border: none;
      text-align: center; }
  .contenedorContacto h1 {
    grid-area: h1; }
  .contenedorContacto .menu {
    grid-area: menu; }
  .contenedorContacto h2 {
    grid-area: h2; }
  .contenedorContacto .formularioContacto {
    grid-area: formularioContacto;
    font-size: 1rem; }
  .contenedorContacto footer {
    grid-area: footer; }

@media only screen and (max-width: 500px) {
  .contenedorContacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, 5);
    grid-template-areas: "h1" "menu" "h2" "formularioContacto" "footer"; }
    .contenedorContacto h1 {
      grid-area: h1; }
    .contenedorContacto .menu {
      grid-area: menu; }
    .contenedorContacto h2 {
      grid-area: h2; }
    .contenedorContacto .formularioContacto {
      grid-area: formularioContacto;
      font-size: 2rem; }
    .contenedorContacto footer {
      grid-area: footer; } }
