.contenedorGaleria{
    width: $anchogeneral;
    text-align: center;
    font-family: 'Spectral', serif;



    @mixin tiraFotos{
        width: $anchogeneral;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;

        .fotoRectangular{
            width: 40rem;
            height: 25rem; 
        }

        img{
            margin: 1rem;
            width: 20rem;
            height: 25rem;
            opacity: 0.7;
            border: black;
                
                &:hover{
                opacity: 1;
                border: white;
                }
            }
        }

    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (auto, 10);
    grid-template-areas:
    "h1"
    "menu"
    "tituloElLugar"
    "tiraFotosLugar1"
    "tiraFotosLugar2"
    "tituloEventos"
    "tiraFotosEventos"
    "tituloElProceso"
    "tiraFotosProceso"
    "footer";

    h1{
        grid-area: h1;
    }

    .menu{
        grid-area: menu;
    }

    .tituloElLugar{
        grid-area: tituloElLugar;
    }

    .tiraFotosLugar1{
        grid-area: tiraFotosLugar1;
        @include tiraFotos;
    }

    .tiraFotosLugar2{
        grid-area: tiraFotosLugar1;
        @include tiraFotos;
    }

    .tituloEventos{
        grid-area: tituloEventos;
    }

    .tiraFotosEventos{
        grid-area: tiraFotosEventos;
        @include tiraFotos;
    }

    .tituloElProceso{
        grid-area: tituloElProceso;
    }

    .tiraFotosProceso{
        grid-area: tiraFotosEventos;
        @include tiraFotos;
    }

    footer{
        grid-area: footer;
    }
}


@media only screen and (max-width: 500px){
    .contenedorGaleria{
        @mixin tiraFotosMobile{
            width: $anchogeneralmobile;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
    
            .fotoRectangular{
                width: $anchogeneralmobile - 2rem;
                height: 15rem; 
            }
    
            img{
                margin: 1rem;
                width: ($anchogeneralmobile/2) - 1rem;
                height: 20rem;
                }
            }

            
        @mixin titulosGaleriaMobile{
            width: $anchogeneralmobile;
            font-size: 2.5rem;
            letter-spacing: 0.5rem;
        }


    width: $anchogeneralmobile;
    display: grid;
    gap: 1 rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (auto, 10);
    grid-template-areas:
    "h1"
    "menu"
    "tituloElLugar"
    "tiraFotosLugar1"
    "tiraFotosLugar2"
    "tituloEventos"
    "tiraFotosEventos"
    "tituloElProceso"
    "tiraFotosProceso"
    "footer";

    h1{
        grid-area: h1;
        width: $anchogeneralmobile;
        font-size: 3rem;
        letter-spacing: 0.5rem;
    }

    
    .menu{
        margin: 0.2rem;
        font-size: 1.8rem;
        letter-spacing: 0.1rem;
        word-spacing: 0.3rem;
        text-transform: uppercase;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: $anchogeneralmobile;
        height: 5rem;
        line-height: 2.5rem;
    }

    .tituloElLugar{
        grid-area: tituloElLugar;
        @include titulosGaleriaMobile;
    }

    .tiraFotosLugar1{
        grid-area: tiraFotosLugar1;
        @include tiraFotosMobile;
    }

    .tiraFotosLugar2{
        grid-area: tiraFotosLugar1;
        @include tiraFotosMobile;
    }

    .tituloEventos{
        grid-area: tituloEventos;
        @include titulosGaleriaMobile;
    }

    .tiraFotosEventos{
        grid-area: tiraFotosEventos;
        @include tiraFotosMobile;
    }

    .tituloElProceso{
        grid-area: tituloElProceso;
        @include titulosGaleriaMobile;
    }

    .tiraFotosProceso{
        grid-area: tiraFotosEventos;
        @include tiraFotosMobile;
    }

    footer{
        grid-area: footer;
        width: $anchogeneralmobile;
    }
}
}