.contenedorGaleria{
    margin: 1rem;
    width: $anchogeneral;
    text-align: center;
    font-family: 'Spectral', serif;



    @mixin tiraFotos{
        width: $anchogeneral;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;

        .fotoRectangular{
            width: 40rem;
            height: 25rem; 
        }

        img{
            margin: 1rem;
            width: 20rem;
            height: 25rem;
            opacity: 0.7;
            border: black;
                
                &:hover{
                opacity: 1;
                border: white;
                }
            }
        }
    

    .tiraFotosLugar1{
    @include tiraFotos;
    }

    .tiraFotosLugar2{
    @include tiraFotos;
    }

    .tiraFotosEventos{
    @include tiraFotos;
    }


    .tiraFotosProceso{
    @include tiraFotos;
    }

    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (auto, 10);
    grid-template-areas:
    "h1"
    "menu"
    "tituloElLugar"
    "tiraFotosLugar1"
    "tiraFotosLugar2"
    "tituloEventos"
    "tiraFotosEventos"
    "tituloElProceso"
    "tiraFotosProceso"
    "footer";

    h1{
        grid-area: h1;
    }

    .menu{
        grid-area: menu;
    }

    .tituloElLugar{
        grid-area: tituloElLugar;
    }

    .tiraFotosLugar1{
        grid-area: tiraFotosLugar1;
    }

    .tiraFotosLugar2{
        grid-area: tiraFotosLugar1;
    }

    .tituloEventos{
        grid-area: tituloEventos;
    }

    .tiraFotosEventos{
        grid-area: tiraFotosEventos;
    }

    .tituloElProceso{
        grid-area: tituloElProceso;
    }

    .tiraFotosProceso{
        grid-area: tiraFotosEventos;
    }

    footer{
        grid-area: footer;
    }
}


@media only screen and (max-width: 500px){
    .contenedorGaleria{

        @mixin tiraFotosMobile{
            width: $anchogeneral;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
    
            .fotoRectangular{
                width: $anchogeneral - 5rem;
                height: 25rem; 
            }
    
            img{
                margin: 1rem;
                width: ($anchogeneral/2) - 3rem;
                height: 50rem;
                opacity: 0.7;
                border: black;
                    
                    &:hover{
                    opacity: 1;
                    border: white;
                    }
                }
            }




    display: grid;
    gap: 1 rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (auto, 10);
    grid-template-areas:
    "h1"
    "menu"
    "tituloElLugar"
    "tiraFotosLugar1"
    "tiraFotosLugar2"
    "tituloEventos"
    "tiraFotosEventos"
    "tituloElProceso"
    "tiraFotosProceso"
    "footer";

    h1{
        grid-area: h1;
    }

    .menu{
        grid-area: menu;
        li{
            font-size: 3.5;
        }
    }

    .tituloElLugar{
        grid-area: tituloElLugar;
    }

    .tiraFotosLugar1{
        grid-area: tiraFotosLugar1;
        @include tiraFotosMobile;
    }

    .tiraFotosLugar2{
        grid-area: tiraFotosLugar1;
        @include tiraFotosMobile;
    }

    .tituloEventos{
        grid-area: tituloEventos;
    }

    .tiraFotosEventos{
        grid-area: tiraFotosEventos;
        @include tiraFotosMobile;
    }

    .tituloElProceso{
        grid-area: tituloElProceso;
    }

    .tiraFotosProceso{
        grid-area: tiraFotosEventos;
        @include tiraFotosMobile;
    }

    footer{
        grid-area: footer;
        height: 3.5rem;
        .logoParaFooter{
            width: 3rem;
            height: 3rem;
    }
}
    }
}