.contenedorHome{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (auto, 7);
    grid-template-areas:
    "h1"
    "menu"
    "carouselExampleIndicators"
    "tiraHome1"
    "tiraHome2"
    "tiraHome3"
    "footer";

    @mixin tiraHome{
    width: $anchogeneral;
    height: 30rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;

    img{
        width: $anchogeneral/3;
        height: 25rem;
        }

    p{
        width: $anchogeneral/2;
        font-size: 2.2rem;
        text-align: center;
        }

    }  

    
    h1{
        grid-area: h1;
    }

    
    .menu{
        grid-area: menu;
    }

    #carouselExampleIndicators{
        grid-area: carouselExampleIndicators;
        width: $anchogeneral;

        .carousel-item{
            width: $anchogeneral;
            height: 50 rem;
        }
    }

    .tiraHome1{
    grid-area: tiraHome1;
    @include tiraHome;
    }


    .tiraHome2{
    grid-area: tiraHome2;
    @include tiraHome;
    background-color:  $bordo;
    border-radius: 5%;
    }


    .tiraHome3{
    grid-area: tiraHome3;
    @include tiraHome;
    }

    
    footer{
        grid-area: footer;
    }


}

@media screen and (max-width: 500px){
    .contenedorHome{
    width: $anchogeneralmobile;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (auto, 7);
    grid-template-areas:
    "h1"
    "menu"
    "carouselExampleIndicators"
    "tiraHome1"
    "tiraHome2"
    "tiraHome3"
    "footer";
    
    

    @mixin tiraHomeMobile{
        width: $anchogeneralmobile;
        height: fit-content;
        padding: 1rem;
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        p{
            font-size: 1.5rem;
            overflow: auto;
            width: $anchogeneralmobile;
            height: fit-content;
        }

        img{
            width: $anchogeneralmobile/2;
            height: 20rem;
        }

    }

    h1{
        grid-area: h1;
        width: $anchogeneralmobile;
        font-size: 3rem;
        letter-spacing: 0.3rem;
    }

    
    .menu{
        margin: 0.2rem;
        font-size: 1.8rem;
        letter-spacing: 0.1rem;
        word-spacing: 0.3rem;
        text-transform: uppercase;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: $anchogeneralmobile;
        height: 5rem;
        line-height: 2.5rem;
    }
        
        

    #carouselExampleIndicators{
        grid-area: carouselExampleIndicators;
        width: $anchogeneralmobile;

        img{
            max-width: $anchogeneralmobile;
            height: 20rem;
            }
    }
    

    .tiraHome1{
    grid-area: tiraHome1;
    @include tiraHomeMobile;
    }

    .tiraHome2{
    grid-area: tiraHome2;
    @include tiraHomeMobile;
    background-color:  $bordo;
    border-radius: 5%;
    }


    .tiraHome3{
    grid-area: tiraHome3;
    @include tiraHomeMobile;
    }

    footer{
        grid-area: footer;
        width: $anchogeneralmobile;
    }
}
}