.contenedorHome{

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat (auto, 7);
    grid-template-areas:
    "h1"
    "menu"
    "carouselExampleControls"
    "tiraHome1"
    "tiraHome2"
    "tiraHome3"
    "footer";

    @mixin tiraHome{
    width: $anchogeneral;
    height: 30rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;

    img{
        width: $anchogeneral/3;
        height: 25rem;
    }

    p{
        width: $anchogeneral/2;
        font-size: 2.2rem;
        text-align: center;
    }

    }  

    
    h1{
        grid-area: h1;
    }

    
    .menu{
        grid-area: menu;
    }

    #carouselExampleControls{
        grid-area: carouselExampleControls;
        width: $anchogeneral;
    }

    .tiraHome1{
    grid-area: tiraHome1;
    @include tiraHome;
    }

    .tiraHome2{
    grid-area: tiraHome2;
    @include tiraHome;
    background-color:  $bordo;
    border-radius: 5%;
    }



    .tiraHome3{
    grid-area: tiraHome3;
    @include tiraHome;
    }

    
    footer{
        grid-area: footer;
    }


    .carousel-item{
        width: $anchogeneral;
        height: 50 rem;
    }

}

@media screen and (max-width: 500px){

    .contenedorHome{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat (auto, 7);
    grid-template-areas:
    "h1"
    "menu"
    "carouselExampleControls"
    "tiraHome1"
    "tiraHome2"
    "tiraHome3"
    "footer";
    
    

    @mixin tiraHomeMobile{
        width: $anchogeneral;
        height: 30rem;
        padding: 1rem;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p{
            font-size: 0.9rem;
            overflow: auto;
        }

        img{
            justify-self: auto;
            width: 25rem;
            height: 20rem;
        }

    }

    h1{
        grid-area: h1;
    }

    
    .menu{
        grid-area: menu;
    }

    #carouselExampleControls{
        grid-area: carouselExampleControls;
    }

    .tiraHome1{
    grid-area: tiraHome1;
    @include tiraHomeMobile;
    }

    .tiraHome2{
    grid-area: tiraHome2;
    @include tiraHomeMobile;
    background-color:  $bordo;
    border-radius: 5%;
    }


    .tiraHome3{
    grid-area: tiraHome3;
    @include tiraHomeMobile;
    }

    footer{
        grid-area: footer;
    }
}
}