.contenedorHome{
    #rouselExampleControls{
    width: $anchogeneral;
    height: 30rem;
    }

    @mixin tiraHome{
    width: $anchogeneral;
    height: 30rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;

    img{
        width: $anchogeneral/3;
        height: 25rem;
    }

    p{
        width: $anchogeneral/2;
        font-size: 2.2rem;
        text-align: center;
    }

    }  

    .tiraHome1{
    @include tiraHome;
    }

    .tiraHome2{
    @include tiraHome;
    background-color:  $bordo;
    border-radius: 5%;
    }



    .tiraHome3{
    @include tiraHome
    }



}

@media only screen and (max-width: 500px){

    @mixin tiraHome{
        width: $anchogeneral;
        height: 30rem;
        padding: 1rem;
        margin: 1rem;
        display: flex;
        flex-wrap: wrap;

        p{
            font-size: 1rem;
            text-align: center;
        }

}

.tiraHome1{
    @include tiraHome;
    }

    .tiraHome2{
    @include tiraHome;
    background-color:  $bordo;
    border-radius: 5%;
    }



    .tiraHome3{
    @include tiraHome
    }
}